<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144020829928-r4l7htso3ssbc5juj4uvco0u8n9g72tg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144020829928-r4l7htso3ssbc5juj4uvco0u8n9g72tg</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ7LHMxD8q3m6er6sOagdD19-aOJMyL3k</string>
	<key>GCM_SENDER_ID</key>
	<string>144020829928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hellodoctormx.RNHelloDoctorExampleApp</string>
	<key>PROJECT_ID</key>
	<string>example-third-party</string>
	<key>STORAGE_BUCKET</key>
	<string>example-third-party.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144020829928:ios:841ff808ae76a613f63b5d</string>
</dict>
</plist>